main{
    display: block;
    background-image: url(/static/img/fondologin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
}
#categorias {

    /* border: 2px solid green; */
    background-color: rgba(101, 11, 175, 0.445);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.categoria {
    width: 10%;
    margin-top: 0;
    padding: 10px;

}
.categoria h3 {
    text-align: center;
}

#texto {
    text-align: left;
}

h2 {
    color: white;
}

.cat_logo {
    width: 50%;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 40px;

}
#recomendaciones {
    display: grid;
    /* border: 2px solid green; */
    width: auto;
    height: auto;
    justify-content: center;
}

.recom {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 20px;

}

.recomendacion {
    width: 25%;
    margin-left: 5px;
    margin-right: 5px;
}

.img_evento {
    width: 300px;
    height: 300px;
}