body {
    height: 100vh;
}

main {
    background-image: url("/static/img/musica/fondo-concierto.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

#contenedor-principal {

    /* border: 2px solid green; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: 60%;

}

#contenedor-secundario {
    /* border: 2px solid green; */
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 40% auto;
    border-radius: 20px;
}

/*TODO_______________________parte arriba_______________________*/

#imagen-arriba {
    display: grid;
    width: 75%;
    height: auto;
    justify-self: center;
    margin: 20px;
    border-radius: 20px;
}

/*TODO__________________________________________________________*/

/*TODO_______________________parte izquierda____________________*/


#parte-izquierda {
    /* border: solid red; */
    display: grid;
    padding: 5%;
    height: 500px;
    width: 350px;
}

#parte-izquierda .texto-izquierda {
    justify-self: right;
    padding: 5%;
    color: #000000;

}

h1 {
    font-size: 35px;
    justify-self: center;
}

h2 {
    font-size: 20px;
    justify-self: left;
}

/*TODO_________________________________________________________*/

/*TODO_______________________parte derecha____________________*/

#parte-derecha {
    /* border: solid yellow; */
    display: grid;
    padding: 5%;
    width: 500px;
}

#parte-derecha .texto-derecha {
    justify-self: start;
    margin: 20px;
    color: #000000;
}

aside {
    /* border: 2px solid green; */
    display: grid;
    justify-self: center;
    width: 400px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 400px;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
}

aside iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

/*TODO_________________________________________________________*/

#enlace {
    padding: 10px; 
    background-color: #e74c3c;
    border: 2px solid #000000;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}
