@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ? ___________ Global Styles____________ */
*{
    font-family: "Montserrat", sans-serif;
}
/* ? _____________________________________ */


body {
    height: 100vh;
}

main {
    background-image: url("/static/img/musica/fondo-concierto.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

#contenedor-principal {

    /* border: 2px solid green; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: 60%;

}

#contenedor-secundario {
    /* border: 2px solid green; */
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 50% auto;
    border-radius: 20px;
}

/*TODO_______________________parte arriba_______________________*/

#imagen-arriba {
    display: grid;
    width: 75%;
    height: auto;
    justify-self: center;
    margin: 20px;
    border-radius: 20px;
}

/*TODO__________________________________________________________*/

/*TODO_______________________parte izquierda____________________*/


#parte-izquierda {
    /* border: solid red; */
    margin: auto;
}

#parte-izquierda .texto-izquierda {
    justify-self: right;
    padding: 15%;
    color: #000000;

}

h1 {
    font-size: 35px;
    justify-self: center;
}

h2 {
    font-size: 20px;
    justify-self: left;
}

/*TODO_________________________________________________________*/

/*TODO_______________________parte derecha____________________*/

#parte-derecha {
    /* border: solid yellow; */
    display: grid;
    padding: 5%;
}

#parte-derecha .texto-derecha {
    justify-self: start;
    margin: 20px;
    color: #000000;
}

#imagen-derecha {
    /* border: 2px solid green; */
    display: grid;
    justify-self: center;
    max-width: 80%;
    height: auto;
    border-radius: 20px;
}

/*TODO_________________________________________________________*/

#enlace {
    padding: 10px 10px; 
    background-color: #9a4d9b;
    border: 2px solid #000000;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
