@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ? ___________ Global Styles____________ */
*{
    font-family: "Montserrat", sans-serif;
}
/* ? _____________________________________ */

body {
    font-family: Arial, sans-serif;
    background-color: #220752;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #220752;
    padding: 20px 0; 
    text-align: center;
}

.contenedor-header {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px; 
}

.logo {
    width: 80px; 
}

.barra-busqueda {
    width: 350px; 
    padding: 12px;
    font-size: 18px; 
    border-radius: 15px;
    border: none;
    outline: none;
}

.boton-reservar {
    padding: 12px 25px; 
    background-color: #9a4d9b;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color: #220752;
    padding: 20px 0;
}

.footer {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.contacto, .creadores {
    text-align: center;
}
/* esta seria la otra opcion
.creadores {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.columna-creadores{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
 */

.contactos {
    display: flex;
    gap: 10px;
}

.logo svg {
    width: 70px; 
    height: 70px;
    fill: #FBE5D8;
    transition: transform 0.3s ease;
}


.logo:hover svg {
    transform: scale(1.1);
    fill: #FFDAB9; 
}

.st0 {
    fill: #270F47;
}
.container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}


.input-group {
    margin-bottom: 15px;
    text-align: left;
    padding: auto;
}
.input-group label {
    display: block;
    color: #555;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #2f2f2f;
    font-size: 1em;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

#titulo-futbol-1{
    font-size: 70px;
    float: left;
}

#subtitulo-futbol{
    font-size: 30px;
    float: left;
}

.informacion-reserva{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #2f2f2f;
    font-size: 1em;
    display: block;
    color: #555;
    font-size: 0.9em;
    margin-bottom: 5px;
}