main{
    background-image: url("/static/img/fondofutbol.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.contenedor-eventos {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.evento {
    border: 2px solid #ccc; 
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.contenido-evento {
    display: flex;
    gap: 20px;
}

.parte-izquierda {
    flex: 1; 
}

.parte-derecha {
    flex: 1; 
}

.mapa {
    width: 100%; 
    height: auto;
}

#enlace {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#enlace:hover {
    background-color: #0056b3;
}

h2{
    font-family: 'Monospace';
    color: white;
}

p{
    font-family: 'Monospace';
    font-size: large;
    color: white;
    text-shadow:
       -1px -1px 0 black,
       -1px 1px 0 black,
       1px 1px 0 black,
       1px -1px 0 black,
    
}