{% if es_admin %}
    {% extends "admin-base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}
<div class="container">
    <h2>Consulta de Reserva</h2>
    <form id="reservaForm">
        <div class="input-group">
            <label for="reservaId">Número de Reserva</label>
            <input type="text" id="reservaId" name="id_reserva" required>
        </div>
        <div class="input-group">
            <label for="email">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <a href="{{url_for('Tu_reserva')}}" type="button" class="boton-reservar" onclick="consultarReserva()">Consultar</a>
    </form>
    <div class="message" id="message"></div>
</div>
{% endblock %}