{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div id="categorias">
    <a href="{{url_for('index')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_futbol.png') }}" alt="Futbol" class="cat_logo"><h3>futbol</h3></a>
    <a href="{{url_for('index')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_conciertos.png') }}" alt="Conciertos" class="cat_logo"><h3>conciertos</h3></a>
    <a href="{{url_for('index')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_fiestas.png') }}" alt="Fiestas" class="cat_logo"><h3>Fiestas</h3></a>
    <a href="{{url_for('index')}}" class="categoria"><img src="{{ url_for('static', filename='img/cat_teatro.png') }}" alt="Teatro" class="cat_logo"><h3>Teatro</h3></a>
    <a href="{{url_for('index')}}" class="categoria"><img src="{{ url_for('static', filename='img/jp.png') }}" alt="JP" class="cat_logo"><h3>Cultura japonesa</h3></a>
    <a href="{{url_for('index')}}" class="categoria"><img src="{{ url_for('static', filename='img/logo1.png') }}" alt="Logo" class="cat_logo"><h3>placeholder</h3></a>
    <a href="{{url_for('index')}}" class="categoria"><img src="{{ url_for('static', filename='img/logo1.png') }}" alt="Logo" class="cat_logo"><h3>placeholder</h3></a>
   </div>


<h1>Nuestras recomendaciones</h1>
<div id="recomendaciones">
    <div class="recom">
        <a href="{{url_for('index')}}" class="recomendacion"><img src="{{url_for('static', filename='img/recom_lib.png')}}" class="img_evento" alt=""></a>
        <a href="{{url_for('index')}}" class="recomendacion"><img src="{{url_for('static', filename='img/recom_sud.png')}}" class="img_evento" alt=""></a>
        <a href="{{url_for('index')}}" class="recomendacion"><img src="{{url_for('static', filename='img/recom_concierto.png')}}" class="img_evento" alt=""></a>
        <a href="{{url_for('index')}}" class="recomendacion"><img src="{{url_for('static', filename='img/recom_comic.png')}}" class="img_evento" alt=""></a>
    </div>
    <div class="recom">
        <a href="{{url_for('index')}}" class="recomendacion"><img src="{{url_for('static', filename='img/recom_ca.jpg')}}" class="img_evento" alt=""></a>
        <a href="{{url_for('index')}}" class="recomendacion"><img src="{{url_for('static', filename='img/recom_tenis.jpg')}}" class="img_evento" alt=""></a>
        <a href="{{url_for('index')}}" class="recomendacion"><img src="{{url_for('static', filename='img/recom_teatro.jpg')}}" class="img_evento" alt=""></a>
        <a href="{{url_for('index')}}" class="recomendacion"><img src="{{url_for('static', filename='img/recom_f1.jpg')}}" class="img_evento" alt=""></a>
    </div>
</div>

<h2>Reseñas</h2>
<div id="reseñas">


</div>

{% endblock %}
