{% if es_admin %}
    {% extends "admin-base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='/css/conciertos.css') }}">

<section class = "seccion">
    <div class = "contenedor">
        <h1>Conciertos</h1>
        <p id = "texto-inicial">Reserva tu entrada para los mejores conciertos en Buenos Aires Argentina.</p>
        <div class = "pagina">
            <div class = "eventos">
                <h2>Camilo Echeverry</h2>
                <a href="{{ url_for('musica') }}"><button>Mas detalles</button></a>
            </div>
        </div>
    </div>
</section>

{% endblock %}