{% if es_admin %}
    {% extends "admin-base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}
<main class="login-main">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<div class="contenedor-login">
    <h2>Iniciar sesion</h2>
    <form>
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Contraseña</label>
        <div class="contenedor-contraseña">
            <input type="password" id="password" name="password" required>
            <button type="button" onclick="togglePassword()">👁️</button>
        </div>

        <button type="submit">Iniciar sesion</button>
    </form>
</div>
</main>   
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}


