{% if es_admin %}
    {% extends "admin-base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block content %}

<div class="container">
    <h2>Pago Seguro</h2>
    <form method="POST" action="/pago" id="paymentForm">
        <div class="input-group">
            <label for="nombre">Nombre de Usuario</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="input-group">
            <label for="id_evento">ID del Evento</label>
            <input type="text" id="id_evento" name="id_evento" required>
        </div>
        <div class="input-group">
            <label for="cant_tickets">Cantidad Tickets</label>
            <input type="text" id="cant_tickets" name="cant_tickets" required>
        </div>
        <button type="submit" class="boton-reservar">Pagar Ahora</button>
    </form>
</div>

{% endblock %}