{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/Teatro.css') }}">
<script src="{{ url_for('static', filename='js/Teatro.js') }}" defer></script>

<div id="contenedor-principal">
    <div id="banner">
        <img src="{{ url_for('static', filename='img/Teatro.jpg') }}" alt="foto" id="imagen-arriba">
    </div>

    <div id="contenedor-secundario">
        <div id="parte-izquierda">
            <div class="texto-izquierda">
                <h1>Teatro Colón</h1>
                <h2>Funciones Disponibles</h2>
                <table class="ticket-table">
                    <thead>
                        <tr>
                            <th>Obras</th>
                            <th>Tickets Disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr onclick="selectSector(this)"><td>Cascanueces</td><td>30 tickets</td></tr>
                        <tr onclick="selectSector(this)"><td>Orquesta Estable</td><td>40 tickets</td></tr>
                        <tr onclick="selectSector(this)"><td>Moliendo a Moliere</td><td>20 tickets</td></tr>
                        <tr onclick="selectSector(this)"><td>El Lago de los Cisnes</td><td>15 tickets</td></tr>
                    </tbody>
                </table>
                <button id="select-btn" class="select-btn" onclick="confirmSelection()" disabled>Confirmar Selección</button>
                <p id="selected-sector"></p>
            </div>
        </div>
        <div id="parte-derecha">
            <div class="texto-derecha">
                <h3>Localización:</h3><p>Teatro Colón, Tucumán 1171, Buenos Aires</p>
            </div>
            <img src="{{ url_for('static', filename='img/teatro/teatro-colon-map.jpg') }}" alt="foto" id="imagen-derecha">
        </div>
    </div>
</div>

<aside class="event-map">
    <iframe src="https://maps.google.com/maps?q=Teatro+Colón,+Tucumán+1171,+Buenos+Aires&hl=es&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
</aside>

{% endblock %}
