{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>Tu Reserva</h2>
    <div class="informacion-reserva">
        <section>
            <label>Nombre del Evento: {{nombre_evento}}</label>
        </section>
    </div>
    <div class="informacion-reserva">
        <section>
            <label>Nombre del Comprador: {{nombre_usuario}}</label>
        </section>
    </div>
    <div class="informacion-reserva">
        <section>
            <label for="class">Codigo de reserva: {{id_reserva}}</label>
        </section>
    </div>
    <div class="informacion-reserva">
        <section>
            <label for="class">Cantidad de tickets: {{cant_tickets}}</label>
        </section>
    </div>
    <div class="informacion-reserva">
        <section>
            <label for="class">Total: {{total}}</label>
        </section>
    </div>
    <button type="button" class="boton-reservar">Cancelar Reserva</button>
</div>

{% endblock %}